doctype 5
html(lang="en")
	head
		title = 'yeeeha'

	body
		.checkin=checkin.id
		.checkin=checkin.shout
		.checkin=checkin.venue.name
		.checkin=checkin.venue.location.address
		.checkin=checkin.venue.location.postalCode
		.checkin=checkin.venue.location.city
		.data
			each song in songs
				.song
					if song.trackData.errors 
						=song.title
						div='song not found on sound cloud'
					else
						=song.title
							.track
								each track in song.trackData
									.item
										a(href=track.permalink_url)=track.title
